@import url('https://fonts.googleapis.com/css2?family=Inter&family=Karantina&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(204, 7.46%, 26.27%);
    --first-color-alt: hsl(2, 89%, 53%);
    --title-color: #F2DAC2;
    --text-color: #977656;
    --body-color: hsl(2, 100%, 97%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Karantina', bold;
    --second-font: 'Inter', cursive;
    --body-font-sub: 'Karantina', regular;
    --biggest-font-size: 2.25rem;
    --normal-font-size: .938rem;


    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* SCROLLBAR */


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb {
    background-color: #4e5254;
    border-radius: 40px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6f7172;
}


body {
    background: var(--first-color);
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .logo {
    position: relative;
    font-weight: 700;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header.stcky {
    padding: 5px 100px;
    background: var(--title-color);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
    font-family: var(--body-font);
    font-size: var(--biggest-font-size);
    text-transform: uppercase;
}

header ul li a:hover {
    color: var(--title-color);
}


.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/assets/img/bg-image.png);
    background-size: cover;
}

header.sticky .logo,
header.sticky ul li a {
    color: var(--body-color);
}

/*=============== HOME ===============*/
.home,
.home__data {
    position: absolute;
}

.home__title {
    position: absolute;
    top: -531px;
    left: 100px;
    width: 500px;
    font-size: 80px;
    color: var(--title-color);
    font-family: var(--body-font);
}

.home__title span {
    color: var(--text-color);
    font-family: var(--body-font-sub);
    font-size: 31px;
}

.home__description {
    position: absolute;
    color: var(--text-color);
    font-family: 'Inter', bold;
    font-size: 15px;
    width: 387px;
    left: 100px;
    top: -350px;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-branding{
    font-size: 2rem;
}
.nav-link{
    transition: 0.7s ease;
}
.nav-link:hover{
    color: var(--body-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
    background-color: var(--title-color);
}

.ri-align-justify {
display: none;
}

/*=============== BREAKPOINTS ===============*/

/* Para pequenos dispositivos */

@media(max-width: 340px){

    header {
        margin-inline: 1rem;
    }

    .logo img {
    width: 15px;
    text-align: left;
    }

    .banner {
    
    }

    .home__title {
        position: absolute;
        top: -500px;
        left: 89px;
        width: 500px;
        font-size: 56px;
        display: block;
    }

    .home__title span {
        font-size: 20px;
        margin-left: -39px;
    }

    .home__description {
        position: absolute;
        font-size: 11px;
        width: 308px;
        left: 48px;
        top: -373px;
    }

    .hamburger{
        display: block;
        padding-left: 15px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        opacity: 0;
        top: 0px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 1s;
        background-color: #1f1e1e;
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        right: 109px;
        opacity: 100;
    }
}